nav {
    display: flex;
    align-content: space-between;
}

nav > div {
    flex: 1;
    border: 1px black solid;
}

#logo > p {
    margin: 10px;
}

#search {
    text-align: left;
}

#search > p {
    margin: 10px;
}

#links {
    text-align: center;
    display: flex;
    align-content: space-around;
}

#links > p {
    flex: 1;
    margin: 10px;
}