.list-group-item {
  margin: 10px;
  padding: 10px;
  background-color: #4bb5ff;
  color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 8px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.list-group-item:hover {
  cursor: pointer;
}

.li-img {
  list-style: none;
  margin: 5px;
}

.list-group {
  border: 1px solid lightgray;
  margin-top: 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 8px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
